* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator {
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 80px;
  padding: 5%;
  background-color: rgb(182, 182, 182);
  width: 60%;
  border-radius: 30px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

button {
  font-size: 1.3em;
  font-weight: bold;
  width: 100%;
  border: none;
  background-color: rgb(221, 221, 221);
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(177, 174, 174);
  transition: 0.25s ease-in;
}

.display-section {
  grid-column: 1/5;
  text-align: right;
  font-size: 1.5em;
  padding: 20px 20px;
  background-color: rgb(67, 67, 67);
  color: white;
  border-radius: 10px;
  border: none;
}

.zero {
  grid-column: 1/3;
}

.operator {
  background-color: rgb(216, 140, 0);
}

.operator:hover {
  background-color: rgb(176, 116, 4);
}
